<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="MysqlTables" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="forceAnnotation" value="true"/>
        <!--生成toString方法-->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <!--覆盖生成XML文件，mybatis generator版本1.4.0以上-->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>
        <!-- 生成的pojo，将implements Serializable-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库链接地址账号密码-->
        <!-- !!! 注意修改 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://mysql:3306/tms?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true&amp;useSSL=false"
                        userId="root"
                        password="Root123456@">
        </jdbcConnection>
        <!--数据库类型和java类型的控制转换-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类-->
        <javaModelGenerator targetPackage="abc.ney.armee.appris.dal.meta.po" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="abc.ney.armee.appris.dal.mapper.tms" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名-->
        <!--
            参考：https://yq.aliyun.com/articles/633204
        -->
<!--        <table tableName="authority" domainObjectName="Authority" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            &lt;!&ndash;自动生成id&ndash;&gt;-->
<!--&lt;!&ndash;            <generatedKey column="id" sqlStatement="JDBC"/>&ndash;&gt;-->
<!--        </table>-->
<!--        <table tableName="oauth_client_details" domainObjectName="OauthClientDetails" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--        </table>-->
<!--        <table tableName="credentials" domainObjectName="Credentials" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="credentials_authorities" domainObjectName="CredentialsAuthorities" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--        </table>-->
<!--        <table tableName="device" domainObjectName="Device" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="gid" sqlStatement="JDBC" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="oauth_access_token" domainObjectName="OauthAccessToken" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--        </table>-->
<!--        <table tableName="oauth_client_details" domainObjectName="OauthClientDetails" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--        </table>-->
<!--        <table tableName="credentials_staff" domainObjectName="CredentialsStaff" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" >-->

<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="credential_id" sqlStatement="JDBC" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="oauth_refresh_token" domainObjectName="OauthRefreshToken" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--        </table>-->

<!--        <table tableName="staff" domainObjectName="Staff" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="gid" sqlStatement="JDBC" identity="true"/>-->
<!--        </table>-->
<!--            <table tableName="lock_auth_info" domainObjectName="LockAuthInfo" enableCountByExample="false"-->
<!--                   enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--                   selectByExampleQueryId="false">-->
<!--                <property name="useActualColumnNames" value="false"/>-->
<!--                <generatedKey column="gid" sqlStatement="JDBC" identity="true"/>-->
<!--            </table>            -->
            <table tableName="device_lock_record" domainObjectName="DeviceLockRecord" enableCountByExample="false"
                   enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
                   selectByExampleQueryId="false">
                <property name="useActualColumnNames" value="false"/>
                <generatedKey column="gid" sqlStatement="JDBC" identity="true"/>
            </table>
    </context>
</generatorConfiguration>