<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.CredentialsStaffMapper">
  <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.po.CredentialsStaff">
    <result column="credential_id" jdbcType="BIGINT" property="credentialId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
  </resultMap>
  <sql id="Base_column_list">
    credential_id, staff_id
  </sql>
  <insert id="insert" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsStaff">
    insert into credentials_staff (credential_id, staff_id)
    values (#{credentialId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="credential_id" keyProperty="credentialId" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsStaff" useGeneratedKeys="true">
    insert into credentials_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <select id="selectByStaffId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_column_list"/>
    from credentials_staff
    where staff_id = #{staffId,jdbcType=BIGINT}
  </select>

  <select id="selectByStaffIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    select <include refid="Base_column_list"/>
    from credentials_staff
    where staff_id in
    <foreach collection="list" open="(" close=")" separator="," item="id" index="">
      #{id,jdbcType=BIGINT}
    </foreach>
  </select>

  <delete id="deleteByCredentialsIdList" parameterType="java.util.List">
    delete from credentials_staff where credential_id in
        <foreach collection="list" item="id" index="" open="(" separator="," close=")">
          #{id,jdbcType=BIGINT}
        </foreach>
  </delete>

  <delete id="deleteByCredentialId" parameterType="java.lang.Long">
    delete from credentials_staff where credential_id=#{credentialId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByStaffId" parameterType="java.lang.Long">
    delete from credentials_staff where staff_id=#{staffId,jdbcType=BIGINT}
  </delete>
</mapper>