<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.CredentialsAuthoritiesMapper">
  <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    <result column="credentials_id" jdbcType="BIGINT" property="credentialsId" />
    <result column="authorities_id" jdbcType="BIGINT" property="authoritiesId" />
  </resultMap>
  <insert id="insert" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    insert into credentials_authorities (credentials_id, authorities_id)
    values (#{credentialsId,jdbcType=BIGINT}, #{authoritiesId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    insert into credentials_authorities
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="credentialsId != null">
        credentials_id,
      </if>
      <if test="authoritiesId != null">
        authorities_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="credentialsId != null">
        #{credentialsId,jdbcType=BIGINT},
      </if>
      <if test="authoritiesId != null">
        #{authoritiesId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>