<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.CredentialsAuthoritiesMapper">
  <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    <result column="credentials_id" jdbcType="BIGINT" property="credentialsId" />
    <result column="authorities_id" jdbcType="BIGINT" property="authoritiesId" />
  </resultMap>
  <sql id="Base_Column_List" >
    credentials_id, authorities_id
  </sql>
  <insert id="insert" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    insert into credentials_authorities (credentials_id, authorities_id)
    values (#{credentialsId,jdbcType=BIGINT}, #{authoritiesId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities">
    insert into credentials_authorities
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="credentialsId != null">
        credentials_id,
      </if>
      <if test="authoritiesId != null">
        authorities_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="credentialsId != null">
        #{credentialsId,jdbcType=BIGINT},
      </if>
      <if test="authoritiesId != null">
        #{authoritiesId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="selectByCredentialId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from credentials_authorities
    where credentials_id = #{credentialId,jdbcType=BIGINT}
  </select>
  <update id="updateAuthorityByCredentialId" parameterType="abc.ney.armee.appris.dal.meta.po.CredentialsAuthorities" >
    update credentials_authorities
    set authorities_id = #{authoritiesId,jdbcType=BIGINT}
    where credentials_id = #{credentialsId,jdbcType=BIGINT}
  </update>

  <delete id="deleteByCredentialId" parameterType="java.lang.Long">
    delete from credentials_authorities where credentials_id=#{credentialId,jdbcType=BIGINT}
  </delete>
</mapper>