<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.LockAuthInfoMapper">
  <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.po.LockAuthInfo">
    <id column="gid" jdbcType="BIGINT" property="gid" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="downed" jdbcType="BOOLEAN" property="downed" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, device_id, driver_id, start_time, end_time, downed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lock_auth_info
    where gid = #{gid,jdbcType=BIGINT}
  </select>

  <select id="selectDownloadInfoOfDevices" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from lock_auth_info
    where downed = false and DATE_SUB(start_time, INTERVAL 10 MINUTE) &lt; utc_timestamp() and
          end_time > utc_timestamp()
  </select>

  <select id="selectByDidStEt" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from lock_auth_info
    where device_id = #{deviceId, jdbcType=BIGINT} and
    start_time = #{startTime,jdbcType=TIMESTAMP} and
    end_time = #{endTime,jdbcType=TIMESTAMP}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lock_auth_info
    where gid = #{gid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByDeviceId" parameterType="java.lang.Long">
    delete from lock_auth_info
    where device_id = #{deviceId, jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="gid" keyProperty="gid" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo" useGeneratedKeys="true">
    insert into lock_auth_info (device_id, driver_id, start_time, 
      end_time, downed)
    values (#{deviceId,jdbcType=BIGINT}, #{driverId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP},#{downed, jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="gid" keyProperty="gid" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo" useGeneratedKeys="true">
    insert into lock_auth_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="downed != null">
        downed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downed != null">
        #{downed,jdbcType=BOOLEAN}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo">
    update lock_auth_info
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downed != null">
        downed = #{downed,jdbcType=BOOLEAN}
      </if>
    </set>
    where gid = #{gid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo">
    update lock_auth_info
    set device_id = #{deviceId,jdbcType=BIGINT},
      driver_id = #{driverId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
    downed = #{downed,jdbcType=BOOLEAN}
    where gid = #{gid,jdbcType=BIGINT}
  </update>

  <select id="countCoveredInfo" parameterType="abc.ney.armee.appris.dal.meta.po.LockAuthInfo" resultType="java.lang.Integer">
    select count(gid) from lock_auth_info
    where device_id=#{deviceId,jdbcType=BIGINT} and !(
          DATE_SUB(start_time, INTERVAL 10 MINUTE) > #{endTime,jdbcType=TIMESTAMP} or
          DATE_ADD(end_time, INTERVAL 10 MINUTE) &lt; #{startTime,jdbcType=TIMESTAMP}
      )
  </select>
</mapper>