<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.OauthAccessTokenMapper">
  <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.po.OauthAccessToken">
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
    <result column="authentication_id" jdbcType="VARCHAR" property="authenticationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="abc.ney.armee.appris.dal.meta.po.OauthAccessTokenWithBLOBs">
    <result column="token" jdbcType="LONGVARBINARY" property="token" />
    <result column="authentication" jdbcType="LONGVARBINARY" property="authentication" />
  </resultMap>
  <sql id="Blob_Column_List">
    token, authentication
  </sql>
  <insert id="insert" parameterType="abc.ney.armee.appris.dal.meta.po.OauthAccessTokenWithBLOBs">
    insert into oauth_access_token (token_id, authentication_id, user_name, 
      client_id, refresh_token, token, 
      authentication)
    values (#{tokenId,jdbcType=VARCHAR}, #{authenticationId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{clientId,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, #{token,jdbcType=LONGVARBINARY}, 
      #{authentication,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="abc.ney.armee.appris.dal.meta.po.OauthAccessTokenWithBLOBs">
    insert into oauth_access_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        token_id,
      </if>
      <if test="authenticationId != null">
        authentication_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="refreshToken != null">
        refresh_token,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="authentication != null">
        authentication,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="authenticationId != null">
        #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=LONGVARBINARY},
      </if>
      <if test="authentication != null">
        #{authentication,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
</mapper>