<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.ney.armee.appris.dal.mapper.tms.StaffCredentialsDtoMapper">
    <resultMap id="BaseResultMap" type="abc.ney.armee.appris.dal.meta.dto.StaffCredentialsDto">
        <id column="staff_gid" jdbcType="BIGINT" property="staffGid" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="no" jdbcType="VARCHAR" property="no" />
        <result column="ic_code" jdbcType="VARCHAR" property="icCode" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="tel_area" jdbcType="VARCHAR" property="telArea" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="authority" jdbcType="VARCHAR" property="authority" />
    </resultMap>
    <select id="selectStaffCredentialsDtoByAuthority" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from
            (select i.gid staff_gid, i.real_name, i.no, i.ic_code, i.position, i.tel_area, i.tel, i.email, h.name, h.password, h.authority from
                (select g.staff_id, f.name, f.password, f.authority from
                    (select e.id, e.name, e.password, d.authority from
                        (select c.credentials_id, b.authority from
                            (select a.id, a.authority from authority a where a.authority= #{authority, jdbcType=VARCHAR}) b
                                left join credentials_authorities c on c.authorities_id=b.id) d
                            left join credentials e on e.id=d.credentials_id) f
                        left join credentials_staff g on g.credential_id=f.id) h
                    left join staff i on i.gid=h.staff_id) j
        where j.staff_gid IS NOT NULL;
    </select>

</mapper>